/* Page Default Styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

body {
    background-color: #d9dcd6;
}

/* Utility Class Style Types */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Header Tag Styles */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 60px;
}

/* This is client-specific to make the "seo" part a different color */
header h1 .seo {
    color: #d9dcd6;
}

/* Nav Tag Style 
Note: Since there's only one <nav> block, we're not putting this style inside
the header area */

nav {
    padding-top: 15px;
    margin: 0 20px 0 25px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    font-weight: lighter;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Jumbotron image under header of people around table */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Nav Menu Content Styles */
.nav-menu-content {
    margin-left: 25px;
    width: 75%;
    display:inline-block;
    }

.nav-menu-item {
    margin-bottom: 25px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.nav-menu-item p{
    margin-right: 50px;
    margin-bottom: 25px;
}
.nav-menu-item img {
    max-height: 215px;
}

.nav-menu-item h2 {
    margin-bottom: 20px;
    margin-right: 60px;
    font-size: 48px;
}

/* Article Benefits Styles */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-item {
    margin-bottom: 30px;
    color: #ffffff;
}

.benefit-item h3 {
    margin-bottom: 16px;
    text-align: center;
    font-size: 24px;
}

.benefit-item img {
    display: block;
    margin: 15px auto;
    max-width: 150px;
}

/* Footer Tag Styles
Note: The mock-up does NOT include a footer. Rather than delete the html content that might be
used later, we'll just set the visibility to hidden and keep the other settings if we need them
*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    visibility: hidden; /* HIDDEN per spec */
}

footer h4 {
    font-size: 20px;
}
